---
layout: page
title: About
background: '/img/bg-about.jpg'
permalink: /about/
---

<p align="center">We are a group of students following the BSc (Hons) Information Technology Special degree at Sri Lanka Institute of
Information and Technology Malabe, Sri Lanka.</p>
<br>
<h5 align="center">Our Vision</h5>
<div align="center"><i>Our focus is to contribute positively to uplift the quality of health of Sri Lankans through the timely use of
Technology.</i></div>
<br> <br>
<!-- <h5>Our Team</h5>
<div><ul>
    <li>K.G.Nisal Priyanka (IT16024700)</li>
    <li>T T K Kasthuriarachchi (IT16068056)</li>
    <li>N M C Hemantha (IT16056862)</li>
    <li>W R A D R S Ranasinghe (IT16011830)</li>
    </ul></div> -->

<table class="table table-striped">
<thead><tr><th>Our Team</th></tr></thead>
    <tbody>
        <tr>
            <td><img class="img-thumbnail" src='/img/about/nisal.jpg' width="150" height="150"></td>
            <td>
               <br><h5 class="text-success">IT16024700 - K G Nisal Priyanka</h5>
            <h5 class="text-success">email : nisalpriyanka96@gmail.com </h5>
            <h5 class="text-success">contact : +94776036149 </h5>
            </td>
        </tr>

        <tr>
            <td><img class="img-thumbnail" src='/img/about/ttk.jpg' width="150" height="150"></td>
            <td>
                <br>
                <h5 class="text-success">IT16068056 - T T K Kasthuriarachchi</h5>
                <h5 class="text-success">email : theekshana.thejan@my.sliit.lk </h5>
                <h5 class="text-success">contact : +94777170101 </h5>
            </td>
        </tr>

        <tr>
            <td><img class="img-thumbnail" src='/img/about/chamal.png' width="150" height="150"></td>
            <td>
                <br>
                <h5 class="text-success">IT16056862 - N M C Hemantha</h5>
                <h5 class="text-success">email : nm3chamal@gmail.com </h5>
                <h5 class="text-success">contact : +94773773174 </h5>
                
            </td>
        </tr>

        <tr>
            <td><img class="img-thumbnail" src='/img/about/ravindu.jpg' width="150" height="150"></td>
            <td>
                <br><br>
                <h5 class="text-success">IT16011830 - W R A D R S Ranasinghe</h5>
                <h5 class="text-success">email : ravindu.ranasinghe@my.sliit.lk </h5>
                <h5 class="text-success">contact : +94770283876 </h5>
            </td>
        </tr>
    </tbody>

</table>

