---
layout: page
title: "Documents"
permalink: /doc/
background: '/img/document-bg.jpg'
---
<h2 class="text-primary">Project Chater</h2> <br>
<a href="/img/chater.jpg" target="_blank" class="btn btn-info" role="button">Download</a> <br><br>

<h2 class="text-primary">Proposal Document</h2> <br>
<a href="/documents/proposal-doc.pdf" target="_blank" class="btn btn-info" role="button">Download</a> <br><br>

<br>

<h2 class="text-primary">SRS Documents</h2> <br>

<table class = "table table-striped">
    <thead>
        <tr>
        <td><h4 class="text-danger">Main Document</h4></td>
        <td><a href="/documents/srs-document.pdf" target="_blank" class="btn btn-info" role="button">Download</a> <br><br></td>
        </tr>

        <tr>
            <td>
                <h5 class="text-danger">IT16024700 - K G N Priyanka</h5>
            </td>
            <td><a href="/documents/SRS_Document_IT16024700.pdf" target="_blank" class="btn btn-info" role="button">Download</a> <br><br>
            </td>
        </tr>

        <tr>
            <td>
                <h5 class="text-danger">IT16068056 - T T K Kasthuriarachchi</h5>
            </td>
            <td><a href="/documents/SRS_16068056.pdf" target="_blank" class="btn btn-info" role="button">Download</a> <br><br>
            </td>
        </tr>

        <tr>
            <td>
                <h5 class="text-danger">IT16056862 - N M C Hemantha</h5>
            </td>
            <td><a href="/documents/SRS_Doc_IT16056862.pdf" target="_blank" class="btn btn-info" role="button">Download</a> <br><br>
            </td>
        </tr>

        <tr>
            <td>
                <h5 class="text-danger">IT16011830 - W R A D R S Ranasinghe</h5>
            </td>
            <td><a href="/documents/Ravindu_SRS.pdf" target="_blank" class="btn btn-info" role="button">Download</a> <br><br>
            </td>
        </tr>

    </thead>
</table>


<h2 class="text-primary">Research Paper</h2> <br>
<a href="/documents/research_paper.pdf" target="_blank" class="btn btn-info" role="button">Download</a> <br><br><br>

<!-- finale documents -->
<h2 class="text-primary">Finale Documents</h2> <br>

<table class="table table-striped">
    <thead>
        <tr>
            <td>
                <h4 class="text-danger">Main Document</h4>
            </td>
            <td><a href="/documents/finale-main.pdf" target="_blank" class="btn btn-info" role="button">Download</a>
                <br><br></td>
        </tr>

        <tr>
            <td>
                <h5 class="text-danger">IT16024700 - K G N Priyanka</h5>
            </td>
            <td><a href="/documents/it16024700_finale.pdf" target="_blank" class="btn btn-info"
                    role="button">Download</a> <br><br>
            </td>
        </tr>

        <tr>
            <td>
                <h5 class="text-danger">IT16068056 - T T K Kasthuriarachchi</h5>
            </td>
            <td><a href="/documents/19-84_IT16068056__FinalThesisSoftBound.pdf" target="_blank" class="btn btn-info" role="button">Download</a>
                <br><br>
            </td>
        </tr>

        <tr>
            <td>
                <h5 class="text-danger">IT16056862 - N M C Hemantha</h5>
            </td>
            <td><a href="/documents/19-084_IT16056862_FinalThesisSoftBound.docx" target="_blank" class="btn btn-info"
                    role="button">Download</a> <br><br>
            </td>
        </tr>

        <tr>
            <td>
                <h5 class="text-danger">IT16011830 - W R A D R S Ranasinghe</h5>
            </td>
            <td><a href="/documents/IT16011830_FinalThesisSoftBound.pdf" target="_blank" class="btn btn-info" role="button">Download</a>
                <br><br>
            </td>
        </tr>

    </thead>
</table>