---
# Feel free to add content and custom Front Matter to this file.
# To modify the layout, see https://jekyllrb.com/docs/themes/#overriding-theme-defaults

layout: page
background: '/img/bg-index.jpg'
title: CareFood
---



<h3> Introduction </h3> 
<p>In order to eradicate dangerous aftermath caused by imbalanced dietary patterns, it is essential that food consumption
is measured by the number of calories as well as amounts of nutrition. With the aid of its precision processing power, a
number of applications have been developed to identify these attributes of individual food items. Advancing this
technology, through the “” app, we have succeeded to measure all these factors from a plate full of numerous food items
at the same time. This method is oriented mostly towards the countries that are more accustomed to consume a variety of
food at the same time per meal, rather than one item at a time.
</p>

<img class="img-fluid" src='/img/img-intro.jpg' align="center"> 
<p>In order to assess the nutritional values, amount of calories, the app processes food segmentation, identification and
portion estimation as pre steps to provide a more accurate result.
Image segmentation takes place based on different physical attributes of the food items.
</p>

<img class="img-fluid" src='/img/img-intro2.png' align="center">
<p>Secondly to recognize the food items, we have trained the app through feeding data sets on order to classify and
recognize the images accurately.
The app estimates the weight of the displayed food item to assist more profound calculations of the calorie content.
</p>

<h3> System Diagram </h3> <br>
<img class="img-fluid" src='/img/System-Diagram.png' align="center"> <br><br>





