---
layout: page
title: "Presentations"
permalink: /slides/
background: '/img/presentation-bg.jpg'
---

<table class="table table-striped">
    <thead>
        <tr>
            <td>
                <h3 class="text-primary">Proposal presentation</h3>
            </td>
            <td><a href="/documents/Proporsal_Presentation.pdf" target="_blank" class="btn btn-info" role="button">Download</a>
                <br><br></td>
        </tr>

        <tr>
            <td>
                <h3 class="text-primary">Progress Presentation</h3>
            </td>
            <td><a href="/documents/image_seg_presentation.pdf" target="_blank" class="btn btn-info"
                    role="button">Download</a> <br><br>
            </td>
        </tr>

        <tr>
            <td>
                <h3 class="text-primary">Finale Presentation</h3>
            </td>
            <td><a href="#" class="btn btn-info" role="button">Download</a>
                <br><br>
            </td>
        </tr>


    </thead>
</table>