---
layout: post
title: "Research Objectives"
date: 2019-09-13
categories: domain
background: '/img/posts_img/research-obj.jpg'
---

<h2>Main Objective</h2> <br>
<h5><i>Aware people about what nutrition they take with a meal</i></h5>
<p>Our main objective is to make the people aware about the includes in what they eat by just taking a simple mobile phone
picture.</p>

<br>
<h2>Specific Objective</h2> <br>
<h5>Recognizing Sri Lankan food</h5>
<p>This system is mainly focused on Sri Lankan food. So the model has to be trained with Sri Lankan food.</p>

<h5>Giving ability for the system to recognize more than one food at a time</h5>
<p>The aim to make our system to be able to segment and recognize each food item separately when a group of food items is
given 
<pre>Eg: A Sri Lankan rice plate with curries.</pre>
</p>

<h5>Calculate the weight of the food items</h5>
<p>The system should generate weight or the potion estimations for the food items. Which is one of the most important
contents to know when defining the nutrition amount.</p>

