---
layout: post
title: "Research Gap"
date: 2019-09-13
categories: domain
background: '/img/posts_img/research-gap.jpg'
---

<p>Most of the researches that use image processing to identify food are basically trying to recognize one food at a time
and give relevant information. But our food recognition system is capable of identifying multiple food items at a time
and give relevant information.
</p>
<p>
<ol>
    <li>Successfully segment the food items individually.</li>
    <li>Portion Estimation of individual segmented food items</li>
    <li>Recognize the food items separately.</li>
</ol>
</p>
<p>Normally in the existing food recognition researches, segmenting the food items individually has not been used because
they are done to recognize an individual food item. But in this case, we have to segment each food item and recognized
individually.
</p>

<p>Not only that. As recognizing multiple food items is more process consuming, the technology we use can be
time-consuming. That is why we decided to experiment the image recognition process with both Support Vector Machine
(SVM) and convolutional neural network (CNN) which are two popular technologies used in image recognition based
researches, and then proceed with the more successful technology. In addition to that in most of the previous similar
projects, they tend to focus more on the texture of the food, while we are focusing on both texture and the shape.
</p>

<p>In most of the researches we studied, the methods that have been used to calculate the amount or the potion, are not
very successful and does not give very accurate results, that is mostly because of the inability of getting the accurate
volume of a particular food item. We hope to fulfill the same inability by taking three pictures of the food in order to
find the length, weight, and height of the food. In addition to that, we experiment to train the model with pictures of
the different type of food plates, in order to find the volume accurately.</p>

