---
layout: post
title: "Research Problem"
date: 2019-09-13
categories: domain
background: '/img/posts_img/research-problem.jpg'
---

<p>By going through all the Literature information, research findings, manuscript. It has been discovered that all the food
recognition systems that currently defined have faced a problem that identifies food items individually in each food
portion. Most of the studied application, at the early stage, images are taken by the user with a mobile device followed
by a pre-processing step. Then, at the segmentation step, each image will be analyzed to extract various segments of the
food portion. It is known that without having a good image segmentation mechanism, it will not be possible not possible
to process the image appropriately. Most of the applications use texture based detection for image segmentation. It has
been discovered that team is discovered that using only this mechanism is giving 50% - 60% of an accurate result.</p>

<p>Most of the applications use the following techniques to accurate food separation scheme, For each detected food
portion, a feature extraction process has to be performed. In this step, various food features including size, shape,
color, texture and color will be extracted. Then the extracted features will be sent to the classification step,
basically they use SVM (Support Vector Machine) for food classification. It could be able to discovered that food weight will also affect and should be considered when giving health advice to the patient. None of
the applications which have been reviewed that study consider weight as a feature.
</p>