---
layout: post
title: "Methodology"
date: 2019-09-20
categories: domain
background: '/img/posts_img/research-methodology.jpg'
---

<h2>Image Segmentation</h2>
<p>Image segmentation is the distribution of an image into meaningful structures. The image segmentation component is the
first and most fundamental step of the system. Simply, once user capture/upload image using the mobile phone, the system
will segment each food items in that image separately. In this section of the paper focus on how to analyze and
represent an object, but we supposed the group of pixels that identified object was known beforehand. We will focus on
identifying the particular item more accurately.</p>

<div>
    <img class="img-thumbnail float-left" src="/img/posts_img/methodo/img1.png" align="center" width="350" height="200"/>
    <img class="float-left" src="/img/posts_img/methodo/img2.png" align="center" width="300" height="247" /> 

</div>
<br> <br> <br> <br> <br><br><br><br>
<p>A special difference segmentation technique has been presented in the past decades. Following image segmentation
techniques/categories are used for our application. Following Techniques are used to segment the image,
</p>
<ol>
<li><i><b>Segmentation based on Threshold</i></b></li>
</ol>
<p>Histogram and slicing methods are used to partition the image. The huge advantage of Thresholding techniques is it can
directly apply to the image, but can also be combined with pre- and postprocessing methods. Thresholding is matured,
basic and popular technique for image segmentation. Image segmentation by thresholding is a simple but powerful approach
for segmenting images having light objects on the grim background. This method is based on image space region. (ex:
attribute of the image). In thresholding, it will transform a multilevel image into a binary image. i.e., it chooses a
particular threshold T, to divide image pixels into several regions and separate objects from the background.
Thresholding procedure used to distribute as intensity value called as the threshold, and it divides into desired
classes. The segmentation is gained by varying all pixels with intensity sizeable than the threshold into one class, and
all other pixels into another class.</p>

<div>
    <img class="img-thumbnail float-left" src="/img/posts_img/methodo/img3.png" width="350" height="200" caption="lable"/>
    <img class="img-thumbnail float-left" src="/img/posts_img/methodo/img4.png" width="350" height="200" />
    <img class="img-thumbnail float-left" src="/img/posts_img/methodo/img5.png" width="350" height="200" />
    <img class="img-thumbnail float-left" src="/img/posts_img/methodo/img6.png" width="350" height="200" />
</div> 
<ol start="2">
    <li><i><b>Region Base Image Segmentation</i></b></li>
</ol>
<p>Region-based image segmentation is opposite technique for edge base image segmentation. It beginning in the inside of an
object and then “growing” outward until it encounter the object boundaries. Regions in an image are a group of connected
pixels with similar properties. In the region approach, each pixel is assigned to a particular object or region.
Compared to edge detection method, segmentation algorithms based on the region are comparatively manageable and more
immune to noise. Edge-based methods break up an image based on brisk reforms in intensity near edges whereas
region-based methods, partition an image into regions that are close according to a set of predefined criteria. In this
technique, the pixels that are corresponding to the particular image are grouped together and marked. Region-based
techniques are also need to use appropriate thresholding mechanism in order to get accurate result. Segmentation
algorithms based on region mainly include following methods:</p>

<ol type="A">
    <li>Region Growing</li>
</ol>

<p>Region growing is known as an image segmentation technique of removing a region of the image that is connected based on
some predefined criteria. Region growing is an approach to image segmentation in which neighboring pixels are examined
and joined to a region class of no edges are detected. This process is iterated for severally boundary pixel in the
region. If adjacent regions are found then a region-merging algorithm is used in which weak edges are disappeared and
strong edges are left intact. Following steps use for region growing,</p>

<ol>
    <li>Select seed pixels within the image</li>
    <li>Set the region prototype to seed pixel</li>
    <li>Calculate the similarity between the region prototype and the candidate pixel</li>
    <li>Calculate the similarity between the candidate and its nearest neighbor in the region</li>
    <li>Include the candidate pixel if both similarity measures are higher than experiment all set thresholds</li>
    <li>After that Update the region prototype by calculating the new principal component</li>
    <li>At last, go to the next pixel to be examined</li>
</ol>


<p>B. Image segmentation using color space </p>

<p>Image segmentation using color space is a simple but useful method when comes to modern image segmentation techniques.
RGB (Red, Green, Blue) is the most common color spaces. colors are represented in terms of their red, green, and blue
components. In more technical terms, RGB describes a color as a tuple of three components. Each component can take a
value between 0 and 255, where the tuple (0, 0, 0) represents black and (255, 255, 255) represents white. RGB is
considered an “additive” color space, and colors can be imagined as being produced from shining quantities of red, blue,
and green light onto a black background.</p>

<p>HSV is another choice of color space for segmenting using color. let’s compare the image in both RGB and HSV color
spaces by visualizing the color distribution of its pixels.</p>

<div>
    <img class="img-thumbnail" src="/img/posts_img/methodo/img8.png" width="350" height="200" />
    <p><i>Scatter plot for RGB color space</i></p>
    <img class="img-thumbnail" src="/img/posts_img/methodo/img9.png" width="350" height="200" />
    <p><i>Scatter plot for HSV color space</i></p>
    
</div>

<p>In HSV space, image oranges are much more localized and visually separable. The saturation and value of the oranges do
vary, but they are mostly located within a small range along the hue axis. This is the key point that can be leveraged
for segmentation.
Next, we have to pick a color range for the image ( basically lower and upper range values ). Using those values we have
to generate mask and segment the image according to that mask. In this kind of scenario, if color ranges are wrong image
will not segment properly.
</p>

<hr/>
<h2>Portion Estimation</h2>
<p>To measure the size of object first calibration is needed to be done using a reference object. The reference has two
properties,</p>

<ul>
    <li><b>Property 1</b>: Dimension of the object in terms of width or height in a measurable unit. In here inches is used.</li>
    <li><b>Property 2</b>: Reference object should be visible in an image to find with an exact position in an image. As in reference object should
    be easily identifiable.</li>
</ul>

<p>In here thumb is used as the reference object. And first user has to take a photo of the thumb with AR pointer. And that
image and dimension are saved in a variable and later append to the segmented image in order to get the height and
width. Or user can use average thumb size as the measurement. As average thumb size is 1 inch (2.5 cm), which converts
to 72 pixels[4]. Also Normative values for thumb length, girth, and width in the pediatric population research[6] has
proven that thumb size remained constant with no significant difference in length, width, or girth between age groups.</p>

<p>Since reference object is appending to the same position of the image we get contours from left to right and use it to
define pixels per metric, which defined as
After loading the image, image converts to grayscale and blur it slightly using gaussian filter.
</p>


    <img class="img-thumbnail" src="/img/posts_img/methodo/img10.png" width="350" height="200" />
    <p><i>Grayscale Blurred image</i></p>
   <p>Then Canny algorithm is used to detect edges. Canny algorithm extract useful structural information from different
vision objects and dramatically reduce the amount of data to be processed.</p>>


    <img class="img-thumbnail" src="/img/posts_img/methodo/img11.png" width="350" height="200" />
    <p><i>Canny Algorithm Applied</i></p>

    <p>Then performs edge detection along with a dilation and erosion to close any gaps in between edges in the edge map.</p>
    <p><i><b>Dilation and Erosion are morphology operators</i></b></p>

    <p>The dilation operator takes two pieces of data as inputs. The first is the image which is to be dilated. The second is a
    (usually small) set of coordinate points known as a structuring element (also known as a kernel). It is this structuring
    element that determines the precise effect of the dilation on the input image.</p>

    <img class="img-thumbnail" src="/img/posts_img/methodo/img12.png" width="350" height="200" />
    <p><i>Dilation applied - The erosion makes the object in white smaller</i></p>

    <img class="img-thumbnail" src="/img/posts_img/methodo/img13.png" width="350" height="200" />
    <p><i>Erosion</i></p>

    <p>Then finds contours individually and compute the bounding box of the largest contour.</p>

    <img class="img-thumbnail" src="/img/posts_img/methodo/img14.png" width="350" height="200" />
    <p><i>Contours</i></p>

    <p>After finding contours Euclidean distance calculated and get width and height.</p>

    <p><b>Getting height from ARcore and Scenceform</b></p>
    <p>To get the plate height without reference object I’ve used Augmented Reality. In here user have to put point where the
    plate is start and end. After initialising ar fragment hitresult are used to create an anchor as in a the user defined
    point in where to start measuring user has to define end anchor as well. Hitresult defines an intersection between a ray
    and estimated real-world geometry.
</p>

<p>To calculate height coordinated of in view are calculated.</p>

<img class="img-thumbnail" src="/img/posts_img/methodo/img15.png" width="350" height="200" />
<p></p>
<hr>
<h2>Image Identification</h2>
<p></p>
<img class="img-thumbnail" src="/img/posts_img/methodo/img16.png" width="350" height="200" />
<p><i>SVM Structure</i></p>

<p>A support vector machine (SVM) is a classifier that uses a separating hyperplane to analyze and classify data. The
following images visualize a 2-dimensional situation of SVM. The separating hyperplane represents as the lines. And two
classes (black circles, white circles) be well in the images. The question is which one the optimal hyperplane is. The
answer is to find a hyperplane that is as far as possible from all the points. To put it more formal, training SVM
classifier is the problem of finding the optimal hyperplane that gives the largest minimum distance to the training data
points. It turns SVM to an optimization problem.
</p>

<img class="img-thumbnail" src="/img/posts_img/methodo/img17.png" width="350" height="200" />
<p><i>2-dimensional situation of SVM</i></p>
<p>The formula to find the optimal hyperplane would be,</p>
<img class="img-thumbnail" src="/img/posts_img/methodo/img18.png" width="350" height="200" />
<p><i>Formula to find hyperplane</i></p>

<p>Originally, hyperplane can only be a linear classifier. By applying the kernel trick, we created nonlinear classifiers.
There are several kernels can be used in practice. For our system, we use Gaussian radial basis function (RBF SVM),
which gives us,</p>

<img class="img-thumbnail" src="/img/posts_img/methodo/img19.png" width="350" height="200" />
<p><i>Gaussian radial basis function</i></p>
<p>As a result, we will have two parameters, C and gamma, to decide for our SVM classifier. The C parameter represents the
trades off between misclassification of training examples and simplicity of the decision surface, while the gamma
parameter specifies how far the influence of a single training example reaches.</p>

<p><b>Local Binary Pattern</b></p>

<p>To identify segmented image, we used texture matching using Local Binary Patterns. First image should convert to
grayscale, because LBP works on grayscale. For every pixel in grayscale image we need to calculate the LBP value. To
calculate LBP value for pixel, neighborhood is selected around the current pixel. LBP value is created using the
neighborhood. We need to update the selected pixel location in the LBP mask with calculated LBP value as shown in below.
In this image we have 8 neighboring pixels. LBP value calculation process,
</p>
<p>The calculation of LBP value for grayscale image done by comparing the central pixel value with the neighboring pixel
values. First start from one of the neighboring pixels and then we check either clockwise or anti-clockwise order, but
we order to check all the pixels. We perform 8 comparisons for each pixel because there are 8 neighbor pixels. The
result of the comparison will be stored in an 8-bit binary array.
</p>
<p>If central pixel value is less than neighboring pixel value, identical bit to the binary array is set to 0. If central
pixel value is greater than or equal to neighboring pixel value identical bit to the binary array set to 1</p>
<p>Finally created binary number on 8-bit array should convert to
the decimal number. The decimal number is stored in the corresponding pixel location in the LBP mask.</p>
<p>After calculate LBP Mask, we calculate the LBP histogram. The range of LBP mask range between 0-255, so the size of the
LBP descriptor will be 1x256. We then normalize the LBP histogram.</p>

<ol>
    <li>Load the color image</li>
    <li>Convert to grayscale image</li>
    <li>Calculate the LBP mask</li>
    <li>Calculate the LBP Histogram and normalize it</li>
</ol>

<p>One advantage of LBP is that it is illumination and translation invariant. We have selected an 8-point neighborhood, but
most implementations use a circular neighborhood as shown below. In the code, we will use a circular neighborhood
</p>

<img class="img-thumbnail" src="/img/posts_img/methodo/img20.png" width="350" height="200" />
<p><i>Circular Neighborhood</i></p>

<p><b>Histogram of oriented gradients</b></p>
<p>The histogram of oriented gradients (HOG) is a feature used in image processing for the purpose of object detection. The
technique counts occurrences of gradient orientation in localized portions of an image. It is computed on a dense grid
of uniformly spaced cells and uses overlapping local contrast normalization for improved accuracy.
</p>

<h5>Food identification using Support CNN(Convolutional Neural Network)</h5>
<p>Once the image is segmented each image has to be recognized, which is one of the most important things to be done in
fulfilling the project objectives. That is the reason why we decided to experiment with image recognition in 2 different
ways which are CNN(Convolutional Neural Networks) and SVM(Support Vector Machines) ,and then continue with the more
successful technology.
</p>

<p>CNN is a feed-forward Neural Network. Which is a more commonly used and is known as one of the most accurate and
efficient Neural Networks used for Image recognition. It became more popular in image recognition field after Krizhevsky
won the ILSVRC(ImageNet Large Scale Visual Recognition Challenge) in the year 2012 with using DCNN (Deep Convolutional
Neural Network).[1] As it was quite similar to the biological way of recognizing images. The brain is being trained with
similar images and later gives the ability to recognize the image correctly. More images the person see, more correctly
the person will recognize it.</p>

<p>CNN uses a hierarchical model that creates a network with series of non-linear Convolutional fully connected layers as
shown in Figure R1, where all the neurons are connected to each other and then passes the input through the network to
get an output.
</p>

<img class="img-thumbnail" src="/img/posts_img/methodo/img21.png" width="350" height="200" />
<p><i>Internal Structure of CNN model</i></p>

<p>Convolution of an image with different filters can perform operations such as edge detection, blur and sharpen by
applying filters. The below example shows various convolution image after applying different types of filters (Kernels)</p>

<img class="img-thumbnail" src="/img/posts_img/methodo/img22.png" width="350" height="200" />
<p><i>Some Common filters used in CNN</i></p>

<p>Also we use the term Strides to call the number of pixels that has to be shifted over the input matrix. Meaning if the
number of strides is 1 it shifts to only one pixel at a time. In a neural network, the activation function is
responsible for transforming the summed weighted input from the node into the activation of the node or output for that
input.</p>

<p>The rectified linear activation function (ReLU) is a piecewise linear function that will output the input directly if is
positive, otherwise, it will output zero. It has become the default activation function for many types of neural
networks because a model that uses it is easier to train and often achieves better performance. ReLU is important
because it brings non-linearity to our neural network.
</p>

<p>Our proposed CNN model has 5 layers. The first layer in Convolutional Neural Network (CNN) is always the convolutional
layer. It receives an input image of 128 x 128 x3 with having a kernel of size 11x11x3. The next layer or The hidden
layer 1 will have a kernel sized 6x6x30 likewise the hidden layer 2 and 3 will be having kernels sized 6x6x60 and
4x4x120. With the output layer having kernel sized 4x4x120.
</p>



















