---
layout: post
title: "Literature survey"
date: 2019-09-13
categories: domain
background: '/img/posts_img/research_gap.jpg'
---

<p>Having become more familiar with the concept of Image Recognition, let us get into the detail of how this specific
technology emerged and evolve,</p>

<ul>
<li>2001 : Paul Viola and Michael Jones invented a simultaneous face detection algorithm. This algorithm is able to identify
human figures through their facial traits.</li>
<li>2005 : Navneet Dalal and Bill Triggs published Histograms of Oriented Gradients (HOG) publish paper to theorizing a
feature detector for the recognition of pedestrians in security system circuits.</li>
<li>2012: Alex Krizhevsky, Ilya Sutskever and Geoffrey Hinton  build new object recognition algorithm ensuring an 85% of
accuracy level.</li>
<li>2015: Convolutional Neural Network (CNN) develop IR face recognition tool that having 95% of accuracy </li>

</ul>

<p>When talking about our food intake management research area, most of the papers propose a personal software instrument
to measure calorie and nutrient intake using a smartphone or any other mobile device equipped with a camera. The system
uses image processing and segmentation to identify food portions and calculates nutritional facts of each portion. After
identify particular food portion system will matching it against existing nutritional fact tables. The segmentation
techniques include texture as well as the color of the objects. Furthermore, those system has the following
contributions: </p>

<p>Most of the current available systems measure food calories, also measures and presents actual uncertainty results using
food images and its application scenario.
One research team was able to design a method to apply the Gabor filter for texture segmentation of food images. To do
this, a bank of Gabor filters with different desired orientations and wavelength are applied to an image. The outcome of
each of these Gabor filters is a two- dimensional array, with the same size of the input image. The sum of all elements
in one such array is a number that represents the matching orientation and spatial frequency of the input image. In
their method, 6 orientations are used as Gabor parameter.
For the image Portion Estimation part, there are following techniques exist. This component is responsible for estimate
portion of the food.
In reference object method first it will get a reference image with known width & height & then using pixel per metric
equation, get the height and the width of the other image.</p>

<p>Furthermore the electronic method for food analysis includes the following steps:
The individual places calibration card near the food that going to eat.
Take the picture that showing both food item and card.
If the food item are not consumed completely, another picture take to identify food portion subtraction.
Food pictures are uploaded or transmitted to a computer.
The individual or a trained individual identified the food item</p>